@model Lab2_VanMinhThuc.Models.Device

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>Device</h4>
    <hr />
    
    <dl class="row">
        <dt class = "col-sm-2">
           Device Name:
        </dt>
        <dd class = "col-sm-10">
        @Model.Device_Name
        </dd>
        <dt class = "col-sm-2">
          Status:
        </dt>
        <dd class = "col-sm-10">
            @Model.Status
        </dd>
        <dt class = "col-sm-2">
           Date of entry:
        </dt>
        <dd class = "col-sm-10">
            @Model.Date_Of_Entry
        </dd>
        <dt class = "col-sm-2">
        Category Name
        </dt>
        <dd class = "col-sm-10">
            @Model.Category.Category_Name
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Device_Code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
